h1{
    text-align: center;
	color:#99833e;
	font-family: 'Rock Salt', cursive;
	}
h2{
    color:#99833e ;
    font-size:1cm
    
}
header{
	text-align: center;
	border-color:#78844f;
	padding:20px 0px 0px 0px;
    margin:  40px 0px 0px 0px;
    background:url("images/world.jpg");
    
}
li{
    padding: 0px 10px 0px 10px;
    color:#78844f;
}
p{
	color:#e88c5f;
	text-align: justify;
	padding:10px;
    
}
body{	
	background-color:#e0cf86 ;
	margin-top: 0px;
	margin-right:0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
	
ul{
    padding: 0px 110px 0px 110px;
}
.hlinks{
    display: inline;
	color: white;
}
.title{
	color:#e88c5f;
	font-size: 75px;
	font-family: 'Rock Salt', cursive;
}
article{
	margin: 0 auto;
	max-width:500px;
	padding:20px;
	font-family: 'Gloria Hallelujah', cursive;

	}
img{
	border: 3px;
	border-style: solid;
	color:  rgb(120, 132, 79); 
}
a{
	color: white;
}
}
