h1{
    text-align: center;
    
}
h2{
    color:#99833e ;
    font-size:1cm
    
}
header{
	text-align: center;
	border-color:#78844f;
	padding:20px 0px 0px 0px;
    margin:  40px 0px 0px 0px;
    background:url("images/world.jpg");
    
}
li{
    padding: 0px 10px 0px 10px;
    color:#78844f;
}
p{
	color:#e88c5f;
	text-align: justify;
	padding:10px;
    
}
body{	
	background-color:#e0cf86 ;
}
	
ul{
    padding: 0px 110px 0px 110px;
}
.hlinks{
    display: inline;
}
.title{
	color:#e88c5f;
	font-size: 75px;
}
article{
	margin: 0 auto;
	width:600px;
	padding:20px;
	}
